In [0]:
import numpy as np

In [0]:
# Setup for questions 1 and 2
arr1=np.arange(40).reshape(8,5)
arr1

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34],
       [35, 36, 37, 38, 39]])

In [0]:
# Q1. From arr1 you have to fetch out every alternate column starting from col1

arr1[:,::2]

array([[ 0,  2,  4],
       [ 5,  7,  9],
       [10, 12, 14],
       [15, 17, 19],
       [20, 22, 24],
       [25, 27, 29],
       [30, 32, 34],
       [35, 37, 39]])

In [0]:
arr1[:,1::2]

array([[ 1,  3],
       [ 6,  8],
       [11, 13],
       [16, 18],
       [21, 23],
       [26, 28],
       [31, 33],
       [36, 38]])

In [0]:
# Q2. From arr1 fetch an array which would contain {0,2,4} {15,17,19} and {30,32,34} 

arr1[::3,::2]

array([[ 0,  2,  4],
       [15, 17, 19],
       [30, 32, 34]])

In [0]:
# Setup for question

# Generating a random numpy array of intergers ranging between 1 and 100

arr2=np.random.randint(low=1, high=100, size=10).reshape(2,5)
arr2

array([[24,  3, 63, 35, 10],
       [75, 57, 82, 75, 64]])

 **Normalization** rescales the values into a range of [0,1]. This might be useful in some cases where all parameters need to have the same positive scale. You have to do this a lot in machine learning for eg you are working with 2 cols, one is total runs scored by a batsman(in the scale of 1000s), and the second is number of matches played by him(in the scale of 10s). The formula for normalization is given below

 Xchanged=(X−Xmin)/(Xmax−Xmin)

In [0]:
# Q3. Write a code to normalize arr2.

In [0]:
(arr2-arr2.min())/(arr2.max()-arr2.min())

array([[0.26582278, 0.        , 0.75949367, 0.40506329, 0.08860759],
       [0.91139241, 0.6835443 , 1.        , 0.91139241, 0.7721519 ]])

Missing values are a pain in the a**(sorry for language). But yes trust me.

In [0]:
# Q4. How would you check if your numpy array has some missing values?

# Hint: Thoda research karo numpy me existing functions hai

In [0]:
arr3=np.array([1,2,np.nan,3,4])
np.isnan(arr3)   # Missing values in this array is represented with NaN and we can check for the missing values using the isnan() function
# It returns true wherever it finds a NaN value.
# It missing values in the array is represented in some other form, we can bring it to NaN and then check for NaN using isnan()

array([False, False,  True, False, False])

In [0]:
# Q5. Write a function which will accept 2 arguments.
# First: A 1D numpy array arr
# Second: An integer n {Please make sure n<=len(arr)}

# Output: The output should be the nth largest item out of the array

# Example1 : arr=(12,34,40,7,1,0) and n=3, the output should be 12
# Example2 : arr=(12,34,40,7,1,0) and n=1, the output should be 40

In [0]:
def nlargest(arr,n):
  arr.sort()
  if n>len(arr):
    print("n is outof bounds. Returning Smallest no.")
    return arr[0]
  
  return arr[-n]

In [0]:
nlargest([54,343,45,68,12],1)

343

In [0]:
nlargest([54,343,45,68,12],4)

45

In [0]:
nlargest([54,343,45,68,12],7)

n is outof bounds. Returning Smallest no.

12